<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'/images/' + item.imageId()}" alt="loading..."/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.title()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.price()} + ' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.description()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/change/' + item.imageId()}" method="post">
                            <button name="action" value="MINUS">-</button>
                            <span th:text="${item.count()}"></span>
                            <button name="action" value="PLUS">+</button>
                            <button name="action" value="DELETE" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: ' + ${total} + ' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/cart/buy" method="post" th:if="${!items.isEmpty()}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>