<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &amp;cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &amp;cudarrr;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}"/>
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort == 'NO'}">нет</option>
                            <option value="ALPHA" th:selected="${sort == 'ALPHA'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort == 'PRICE'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.pageSize()==5}">5</option>
                            <option value="10" th:selected="${paging.pageSize()==10}">10</option>
                            <option value="20" th:selected="${paging.pageSize()==20}">20</option>
                            <option value="50" th:selected="${paging.pageSize()==50}">50</option>
                            <option value="100" th:selected="${paging.pageSize()==100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${paging.pageNumber() > 1}" name="pageNumber" th:value="${paging.pageNumber() - 1}">&lt;</button>
                        <span th:text="${'Страница: ' + paging.pageNumber()}"></span>
                        <button th:if="${!paging.isLast()}" name="pageNumber" th:value="${paging.pageNumber() + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <img width="300" height="300" th:src="${'/images/' + item.imageId()}" alt="loading..."/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a th:text="${item.title()}" th:href="${'/main/items/' + item.id()}"></a>
                        </td>
                        <td>
                            <b th:text="${item.price()}+' руб.'"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.description()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="${'/cart/change/' + item.id()}" method="post">
                                <button name="action" value="MINUS">-</button>
                                <span th:text="${item.count()}"></span>
                                <button name="action" value="PLUS">+</button>
                                <button name="action" value="PLUS" th:if="${item.count() == 0}" style="float:right;">В корзину</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>